[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
"progressbar2" = "*"
prompt-toolkit = "*"
requests-html = "*"
pyperclip = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.7"
